<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div>
      <a routerLink="/" class="navbar-brand">blabla</a>
    </div>
    <ul class="navbar-nav">
      <li>
        <a class="nav-link">Home</a>
      </li>
    </ul>

    <ul class="navbar-nav navbar-collapse justify-content-end">
      <li>
        <a routerLink="/login" class="nav-link">Login</a>
      </li>
      <li>
        <a routerLink="/logout" class="nav-link">Logout</a>
      </li>
    </ul>
  </nav>
</header>

<!-- <header>
  <nav class="navbar navbar-expand navbar-dark bg-light border">
    <div>
      <a routerLink="/" class="navbar-brand m-2">
        <img src="../assets/images/wtlogo.svg" />
      </a>
    </div>
    <ul class="navbar-nav">
      <li>
        <a class="nav-link">Home</a>
      </li>
    </ul>

    <ul class="navbar-nav navbar-collapse justify-content-end">
      <li>
        <a routerLink="/profielpagina" class="nav-link text-dark">Profiel</a>
      </li>
      <li>
        <a routerLink="/login" class="nav-link text-dark">Login</a>
      </li>
      <li>
        <a routerLink="/logout" class="nav-link text-dark">Logout</a>
      </li>
    </ul>
  </nav>
</header> -->