<div id="app">
  <nav class="navbar sticky-top navbar-expand navbar-dark bg-light border border-secondary">
    <div>
      <a *ngIf="isLoggedIn" routerLink="/profielpagina/{{ id }}" class="navbar-brand m-2">
        <img src="../assets/images/wtlogo.svg" />
      </a>
      <a *ngIf="!isLoggedIn" class="navbar-brand m-2">
        <img src="../assets/images/wtlogo.svg" />
      </a>
    </div>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link text-dark" routerLink="admin"
          ><span style="font-weight: 650; font-size: medium;" >Admin-panel</span></a
        >
      </li>
      <li class="nav-item" *ngIf="showModeratorBoard">
        <a href="/mod" class="nav-link text-dark" routerLink="mod"
          >Moderator Board</a
        >
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <!-- <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li> -->
      <li class="nav-item">
        <a href="/login" class="nav-link text-dark" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item" *ngIf="showAdminBoard">
        <i class="fa-solid fa-book-medical"></i>
        <a routerLink="/useraccounts" class="nav-link text-dark"
          ><span style="font-weight: 650; font-size: medium;"> User Accounts </span></a
        >
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a routerLink="/reserveringen" class="nav-link text-dark">
          <span style="font-weight: 650; font-size: medium;"> Reserveringen</span></a
        >
      </li>      
      <li class="nav-item" *ngIf="showAdminBoard">
        <a routerLink="/exemplaren" class="nav-link text-dark">
          <span style="font-weight: 650; font-size: medium;"> Exemplaren</span></a>
      </li>
      <li>
        <a routerLink="/boekenlijst" class="nav-link text-dark">
          <span style="font-weight: 650; font-size: medium;"> Bibliotheek</span></a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a routerLink="/logboek" class="nav-link text-dark">
          <span style="font-weight: 650; font-size: medium;"> Logboek</span></a>
      </li>
      <li>
        <a routerLink="/profielpagina/{{ id }}" class="nav-link text-dark">
          <span style="font-weight: 650; font-size: medium;"> Mijn account</span></a>
      </li>
      <li class="nav-item">
        <a href class="nav-link text-dark" (click)="logout()">
          <span style="font-weight: 650; font-size: medium;"> Uitloggen</span></a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
