<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-light border">
    <div>
      <a routerLink="/" class="navbar-brand m-2">
        <img src="../assets/images/wtlogo.svg" />
      </a>
    </div>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link text-dark" routerLink="admin"
          >Admin-panel</a
        >
      </li>
      <li class="nav-item" *ngIf="showModeratorBoard">
        <a href="/mod" class="nav-link text-dark" routerLink="mod"
          >Moderator Board</a
        >
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <!-- <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li> -->
      <li class="nav-item">
        <a href="/login" class="nav-link text-dark" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item" *ngIf="showAdminBoard">
        <a routerLink="/useraccounts" class="nav-link text-dark"
          >User Accounts</a
        >
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a routerLink="/reserveringen" class="nav-link text-dark">
          Reserveringen</a
        >
      </li>
      <li>
        <a routerLink="/boekenlijst" class="nav-link text-dark">Bibliotheek</a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a routerLink="/logboek" class="nav-link text-dark">Logboek</a>
      </li>
      <li>
        <a routerLink="/profielpagina/{{ id }}" class="nav-link text-dark">{{
          username
        }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link text-dark" (click)="logout()">Uitloggen</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
