.wt {   
    opacity: 0.4;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: black;
  }
