<div class="wt">
  <img src="./assets/images/wtachtergrond.svg" />
</div>


<body>
  <br><br>
<!-- Edit user -->
<ng-template #mymodal1 let-modal>
  <div id="mymodal1">
    <div class="modal-header">
      <h4 class="modal-title" id="exampleModalLabel">Wijzigen</h4>
      <button
        type="button"
        class="close"
        (click)="modal.close()"
        aria-label="Close"
        id="close-modal1"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" id="main-container">
      <form #editForm="ngForm">
        <input
          type="hidden"
          ngModel="{{ editUser?.id }}"
          name="id"
          class="form-control"
          id="id"
        />
        <div class="mb-3 form-group">
          <label for="name" class="form-label"><b>Name</b></label>
          <input
            type="text"
            ngModel="{{ editUser?.name }}"
            class="form-control"
            id="name"
            name="name"
            placeholder="..."
          />
        </div>
        <div class="mb-3 form-group">
          <label for="username" class="form-label"><b>Email</b></label>
          <input
            type="text"
            ngModel="{{ editUser?.username }}"
            class="form-control"
            id="last_name"
            placeholder="..."
            name="username"
            readonly
          />
        </div>
        <input
          type="hidden"
          ngModel="{{ editUser?.email }}"
          class="form-control"
          id="email"
          placeholder="..."
          name="email"
        />
        <div class="mb-3 form-group">
          <label for="password" class="form-label"><b>Password</b></label>
          <input
            type="password"
            ngModel="{{ editUser?.password }}"
            class="form-control"
            id="password"
            placeholder="..."
            name="password"
            readonly
          />
        </div>
        <div class="mb-3 form-group">
          <label for="functie" class="form-label"><b>Functie</b></label>
          <input
            type="text"
            ngModel="{{ editUser?.functie }}"
            class="form-control"
            id="functie"
            placeholder="..."
            name="functie"
          />
        </div>
        <div class="mb-3 form-group">
          <label for="phoneNumber" class="form-label"
            ><b>Phone number</b></label
          >
          <input
            type="text"
            ngModel="{{ editUser?.phoneNumber }}"
            class="form-control"
            id="phoneNumber"
            placeholder="..."
            name="phoneNumber"
          />
        </div>
        <div class="mb-3 form-group">
          <label for="photo" class="form-label"><b>Photo URL</b></label>
          <input
            type="text"
            ngModel="{{ editUser?.photo }}"
            class="form-control"
            id="photo"
            placeholder="..."
            name="photo"
          />
        </div>
        <div class="mb-3 form-group">
          <label for="linkedinURL" class="form-label"
            ><b>LinkedIn URL</b></label
          >
          <input
            type="text"
            ngModel="{{ editUser?.linkedinURL }}"
            class="form-control"
            id="linkedinURL"
            placeholder="..."
            name="linkedinURL"
          />
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary"
            data-dismiss="modal"
            (click)="open(mymodal2)"
          >
            Opslaan
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
            (click)="modal.close()"
          >
            Sluiten
          </button>

          <button
            type="button"
            data-dismiss="modal"
            (click)="onEditUser(editForm.value)"
            style="display: none"
            id="hidden-button1"
          ></button>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<!-- Edit user confirmation -->
<ng-template #mymodal2 let-modal>
  <div id="mymodal2">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        Weet je het zeker, {{ editUser?.name }}?
      </h4>
      <button type="button" class="btn" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>

    <div class="modal-footer">
      <button
        type="button"
        class="font-weight-bold btn"
        data-dismiss="modal"
        (click)="editUser2()"
        style="
          border: 1px solid;
          border-radius: 5px;
          color: white;
          background-color: #11740c;
        "
      >
        Ja
      </button>
      <button
        type="button"
        class="font-weight-bold btn"
        data-dismiss="modal"
        (click)="modal.close()"
        id="close-modal2"
        style="
          border: 1px solid;
          border-radius: 5px;
          background-color: red;
          color: white;
        "
      >
        Nee
      </button>
    </div>
  </div>
</ng-template>

<!-- Add boek -->
<ng-template #mymodal5 let-modal>
  <div id="mymodal5">
    <div class="modal-header">
      <h5 class="modal-title" id="addBoekModalLabel">Add Boek</h5>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
        id="close-modal5"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #addForm="ngForm" (ngSubmit)="onAddBoek(addForm)">
        <div class="form-group">
          <label for="title">Titel</label>
          <input
            type="text"
            ngModel
            name="title"
            class="form-control"
            id="title"
            required
          />
        </div>
        <div class="form-group">
          <label for="authors">Auteurs</label>
          <input
            type="text"
            ngModel
            name="authors"
            class="form-control"
            id="authors"
            required
          />
        </div>
        <div class="form-group">
          <label for="isbn">ISBN</label>
          <input
            type="text"
            ngModel
            name="isbn"
            class="form-control"
            id="isbn"
            required
          />
        </div>
        <div class="form-group">
          <label for="categories">Categorieën</label>
          <input
            type="text"
            ngModel
            name="categories"
            class="form-control"
            id="categories"
            required
          />
        </div>
        <div class="form-group">
          <label for="authors">Exemplaren</label>
          <input
            type="number"
            ngModel
            name="copies"
            class="form-control"
            id="copies"
            required
          />
        </div>

        <div class="form-group">
          <label for="thumbnailUrl">thumbnail </label>
          <input
            type="text"
            ngModel
            name="thumbnailUrl"
            class="form-control"
            id="thumbnailUrl"
            placeholder="Voer URL in"
          />
        </div>
        <div class="modal-footer">
          <button
            type="button"
            id="add-boek-form"
            class="btn btn-secondary"
            data-dismiss="modal"
            (click)="modal.close()"
          >
            Sluiten
          </button>
          <button
            type="button"
            class="btn btn-success"
            data-dismiss="modal"
            (click)="open(mymodal6)"
            [disabled]="addForm.invalid"
          >
            Boek toevoegen
          </button>
          <button
            data-dismiss="modal"
            style="display: none"
            id="hidden-button3"
            type="submit"
          ></button>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<!-- Add boek confirmation -->
<ng-template #mymodal6 let-modal>
  <div id="mymodal6">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        Weet je het zeker, {{ currentUser?.name }}?
      </h4>
      <button
        type="button"
        class="btn"
        (click)="modal.dismiss('Cross click')"
        id="close-modal6"
      >
        <span aria-hidden="true">×</span>
      </button>
    </div>

    <div class="modal-footer">
      <button
        type="button"
        class="font-weight-bold btn"
        data-dismiss="modal"
        (click)="addBoek2()"
        style="
          border: 1px solid;
          border-radius: 5px;
          color: white;
          background-color: #11740c;
        "
      >
        Ja
      </button>
      <button
        type="button"
        class="font-weight-bold btn"
        data-dismiss="modal"
        (click)="modal.close()"
        id="close-modal2"
        style="
          border: 1px solid;
          border-radius: 5px;
          background-color: red;
          color: white;
        "
      >
        Nee
      </button>
    </div>
  </div>
</ng-template>

<div class="container-fluid" style="min-height: 100vh">
  <div class="p-2 row">
    <div
      class="col-sm border border-dark rounded m-2"
      style="background-color: rgba(170, 195, 170)"
    >
      <div class="container">
        <h3 class="py-3 text-center">Personalia</h3>
        <div class="pt-2 pb-4">
          <img
            src="{{ editUser?.photo }}"
            alt=""
            style="
              display: block;
              max-width: 150px;
              border-radius: 50px;
              margin: auto;
            "
          />
        </div>
        <table class="table">
          <tbody>
            <tr>
              <td>Naam:</td>
              <td>
                <b>{{ editUser?.name }}</b>
              </td>
            </tr>
            <tr>
              <td>Email:</td>
              <td>
                <b>{{ editUser?.username }}</b>
              </td>
            </tr>

            <tr *ngIf="editUser?.phoneNumber">
              <td>Telefoonnummer:</td>
              <td>
                <b>{{ editUser?.phoneNumber }}</b>
              </td>
            </tr>
            <tr *ngIf="editUser?.functie">
              <td>Functie:</td>
              <td>
                <b>{{ editUser?.functie }}</b>
              </td>
            </tr>
            <tr *ngIf="editUser?.linkedinURL">
              <td>LinkedIn:</td>
              <td>
                <b>{{ editUser?.linkedinURL }}</b>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="mt-3 text-center">
          <button
            class="btn btn-primary"
            style="width: 120px"
            type="button"
            (click)="open(mymodal1)"
          >
            Wijzigen
          </button>
        </div>
      </div>
    </div>
    <div
      class="m-2 col-sm border border-dark rounded position-relative"
      style="background-color: rgba(170, 195, 170);">
      <h3 class="py-3 text-center">Mijn boeken</h3>
      <div class="col-sm mb-5">
        <div *ngFor="let boek of currentboekenActief">
          <a
            routerLink="/boek/{{ boek?.exemplaar?.boek?.id }}"
            class="link text-dark"
            style="cursor: pointer"
          >
            <div class="container p-2 my-3 border rounded">
              <div class="d-flex flex-row pt-2">
                <div class="px-1">
                  <img
                    src="{{ boek?.exemplaar?.boek?.thumbnailUrl }}"
                    alt="book"
                    style="max-height: 75px; border-radius: 10px"
                  />
                </div>
                <div class="px-2">
                  <h6>{{ boek?.exemplaar?.boek?.title }}</h6>
                  <p class="mx-1">{{ boek?.exemplaar?.boek?.authors }}</p>
                  <div *ngIf="boek?.status === 'gereserveerd'">
                    <p class="small">Gereserveerd</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div
          *ngIf="boekenActief?.length == 0"
          class="pb-5 col-lg-12 col-md-12 col-xl-12"
        >
          <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">Geen boeken!</h4>
            <p>Er zijn geen geleende boeken gevonden.</p>
          </div>
        </div>
      </div>

      <a routerLink="/mijnboeken" class="link" id="knopje">
        <button
          type="button"
          class="btn btn-sm btn btn-primary position-absolute "
          style="bottom: 5px; right: 5px"
          *ngIf="moreBoeken"
        >
          Meer..
        </button>
      </a>
    </div>

    <div
      class="m-2 col-sm border border-dark rounded position-relative"
      style="background-color: rgba(170, 195, 170); z-index: 1;">
      <h3 class="py-3 text-center">Mijn geschiedenis</h3>
      <div class="col-sm mb-5">
        <div *ngFor="let boek of currentboekenVroeger">
          <a
            routerLink="/boek/{{ boek?.exemplaar?.boek?.id }}"
            class="link text-dark"
            style="cursor: pointer"
          >
            <div class="container p-2 my-3 border rounded">
              <div class="d-flex flex-row pt-2">
                <div class="px-1">
                  <img
                    src="{{ boek?.exemplaar?.boek?.thumbnailUrl }}"
                    alt="book"
                    style="max-height: 75px; border-radius: 10px"
                  />
                </div>
                <div class="px-2">
                  <h6>{{ boek?.exemplaar?.boek?.title }}</h6>
                  <p class="mx-1">{{ boek?.exemplaar?.boek?.authors }}</p>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div
          *ngIf="boekenVroeger?.length == 0"
          class="pb-5 col-lg-12 col-md-12 col-xl-12"
        >
          <div style= "border-color: black  ;color:black ;background-color: rgba(130, 130, 130, 0.85); " class="alert alert-info" role="alert">
            <h4 class="alert-heading">Geen geschiedenis!</h4>
            <p>Er zijn geen boeken gevonden.</p>
          </div>
        </div>
      </div>

      <a routerLink="/mijnhistory" class="link">
        <button
          type="button"
          class="btn btn-sm btn-warning position-absolute"
          style="bottom: 5px; right: 5px"
          *ngIf="moreHistory"
        >
          Go to list..
        </button>
      </a>
    </div>
  </div>
</div>
