<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
  rel="stylesheet"
/>

<div class="User link">
  <h2>Userlijst &nbsp;&nbsp;&nbsp; <button
    id="topbttn"
    class="btn btn-primary"
    (click)="onOpenModal(null, 'add')"
  >
    <i class="fa fa book"></i> User Toevoegen
  </button>
</h2>
  <input
    type="search"
    (ngModelChange)="searchUser(key.value)"
    #key="ngModel"
    ngModel
    name="key"
    id="searchName"
    class="form-control mr-sm-2"
    placeholder="User zoeken..."
    required
  />
</div>

<div class="container" id="main-container">
  <div class="row">
    <div *ngFor="let user of users" class="col-md-6 col-xl-3">
      <div class="card m-b-30">
        <div class="card-body row">
          <div class="col-6">
            <img
              src="{{ user?.photo }}"
              alt=""
              class="img-fluid rounded-circle w-60"
            />
          </div>
          <div class="col-6 card-naam align-self-center mb-0">
            <a routerLink="/profielpagina/{{ user.id }}"
              ><h5>{{ user.name }}</h5></a
            >
            <p class="m-0">{{ user.function }}</p>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <i class="fa fa-envelope float-right"></i>{{ user.email }}
            <a href="#"></a>
          </li>
          <li *ngIf="user.phoneNumber" class="list-group-item">
            <i class="fa fa-phone float-right"></i>Nummer:
            {{ user.phoneNumber }}
          </li>
          <li *ngIf="user.admin" class="list-group-item"><i></i>Admin</li>
        </ul>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <a
              (click)="onOpenModal(user, 'edit')"
              class="btn btn-primary tooltips"
              data-placement="top"
              data-toggle="tooltip"
              data-original-naam="Edit"
              ><i class="fa fa-pencil"></i>
            </a>
            <a
              (click)="onOpenModal(user, 'delete')"
              class="btn btn-secondary tooltips"
              data-placement="top"
              data-toggle="tooltip"
              data-original-naam="Delete"
              ><i class="fa fa-trash"></i
            ></a>
          </div>
          <ul class="social-links list-inline mb-0">
            <style>
              #toHover {
                cursor: pointer;
              }
            </style>
            <li
              *ngIf="user.linkedinURL"
              id="toHover"
              (click)="openURLWindow(user.linkedinURL)"
              class="list-inline-item"
            >
              <a
                naam=""
                data-placement="top"
                data-toggle="tooltip"
                class="tooltips"
                data-original-naam="LinkedIn"
                ><i class="fa fa-linkedin"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add User Modal -->
<div
  class="modal fade"
  id="addUserModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addUserModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addUserModalLabel">Add User</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddUser(addForm)">
          <div class="form-group">
            <label for="name">Naam</label>
            <input
              type="text"
              ngModel
              name="name"
              class="form-control"
              id="name"
              placeholder="Naam"
              required
            />
          </div>
          <!-- <div class="form-group">
				<label for="username">User naam</label>
				<input type="text" ngModel name="username" class="form-control" id="username" placeholder="User naam" required>
			 </div> -->
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              ngModel
              name="password"
              class="form-control"
              id="password"
              placeholder="Password"
              required
            />
          </div>
          <div class="form-group">
            <label for="function">Functie</label>
            <input
              type="text"
              ngModel
              name="function"
              class="form-control"
              id="function"
              placeholder="Functie"
              required
            />
          </div>
          <div class="form-group">
            <label for="admin">Admin</label>
            <select
              ngModel
              name="admin"
              class="form-control"
              id="admin"
              required
            >
              <optgroup label="admin">
                <option value="">Click to choose..</option>
                <option value="false" selected>False</option>
                <option value="true">True</option>
              </optgroup>
            </select>
          </div>
          <div class="form-group">
            <label for="email">E-mail adres</label>
            <input
              type="text"
              ngModel
              name="email"
              class="form-control"
              id="email"
              placeholder="E-mail adres"
              required
            />
          </div>
          <div class="form-group">
            <label for="phoneNumber">Telefoon nummer</label>
            <input
              type="text"
              ngModel
              name="phoneNumber"
              class="form-control"
              id="phoneNumber"
              placeholder="Telefoon nummer"
              required
            />
          </div>
          <div class="form-group">
            <label for="photo">Profiel foto </label>
            <input
              type="text"
              ngModel
              name="photo"
              class="form-control"
              id="photo"
              placeholder="Voer URL in"
            />
          </div>
          <div class="form-group">
            <label for="linkedinURL">LinkedIn pagina </label>
            <input
              type="text"
              ngModel
              name="linkedinURL"
              class="form-control"
              id="linkedinURL"
              placeholder="Voer URL in"
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              id="add-user-form"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Sluiten
            </button>
            <button
              [disabled]="addForm.invalid"
              type="submit"
              class="btn btn-primary"
            >
              User Toevoegen
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Edit User Modal -->
<div
  class="modal fade"
  id="editUserModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="editUserModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-naam" id="addUserModalLabel">
          Usergegevens {{ updateUser?.name }} Wijzigen
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
            <label for="name">Naam</label>
            <input
              type="text"
              ngModel="{{ updateUser?.name }}"
              name="name"
              class="form-control"
              id="name"
              placeholder="Naam"
              required
            />
          </div>
          <!-- <div class="form-group">
				<label for="username">User naam</label>
				<input type="text" ngModel="{{updateUser?.username}}" name="username" class="form-control" id="username" placeholder="User naam"required>
			 </div> -->

          <input
            type="hidden"
            ngModel="{{ updateUser?.id }}"
            name="id"
            class="form-control"
            id="id"
            placeholder="ISBN"
          />
          <!-- <input type="hidden" ngModel="{{updateUser?.userID}}" name="userID" class="form-control" id="userID" > -->
          <input
            type="hidden"
            ngModel="{{ updateUser?.user_id }}"
            name="user_id"
            class="form-control"
            id="user_id"
          />

          <div class="form-group">
            <label for="function">Functie</label>
            <input
              type="text"
              ngModel="{{ updateUser?.function }}"
              name="function"
              class="form-control"
              id="function"
              placeholder="Functie"
              required
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              ngModel="{{ updateUser?.password }}"
              name="password"
              class="form-control"
              id="password"
              placeholder="Password"
              required
            />
          </div>
          <div class="form-group">
            <label for="email">E-mail adres</label>
            <input
              type="email"
              ngModel="{{ updateUser?.email }}"
              name="email"
              class="form-control"
              id="email"
              placeholder="E-mail adres"
              required
            />
          </div>
          <div class="form-group">
            <label for="phoneNumber">Telefoon nummer</label>
            <input
              type="text"
              ngModel="{{ updateUser?.phoneNumber }}"
              name="phoneNumber"
              class="form-control"
              id="phoneNumber"
              placeholder="Telefoon nummer"
              required
            />
          </div>
          <div class="form-group">
            <label for="admin">Admin</label>
            <input
              type="boolean"
              ngModel="{{ updateUser?.admin }}"
              name="admin"
              class="form-control"
              id="admin"
              placeholder="true/false"
              required
            />
          </div>
          <div class="form-group">
            <label for="photo">Profiel foto</label>
            <input
              type="text"
              ngModel="{{ updateUser?.photo }}"
              name="photo"
              class="form-control"
              id="photo"
              placeholder="Voer URL in"
            />
            <!-- <input type="text" ngModel="{{updateUser?.imageUrl}}" name="imageUrl" class="form-control" id="imageUrl" placeholder="Voer URL in" > -->
          </div>
          <div class="form-group">
            <label for="linkedinURL">LinkedIn pagina</label>
            <input
              type="text"
              ngModel="{{ updateUser?.linkedinURL }}"
              name="linkedinURL"
              class="form-control"
              id="linkedinURL"
              placeholder="Voer URL in"
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              id=""
              data-dismiss="modal"
              class="btn btn-secondary"
            >
              Sluiten
            </button>
            <button
              (click)="onUpdateUser(editForm.value)"
              data-dismiss="modal"
              class="btn btn-primary"
            >
              Opslaan
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete User Modal -->
<div
  class="modal fade"
  id="deleteUserModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="deleteUserModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-naam" id="deleteModelLabel">
          Delete {{ deleteUser?.name }}
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Weet je zeker dat je deze user wilt verwijderen?</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Nee
          </button>
          <button
            (click)="onDeleteUser(deleteUser?.id!)"
            class="btn btn-danger"
            data-dismiss="modal"
          >
            Ja
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Notification for no users -->
<div *ngIf="users?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">Geen users!</h4>
    <p>Er zijn geen users gevonden.</p>
  </div>
</div>
