<html lang="en">
<head >

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">User Accounts
</head>

<body>

<div class="Search users">
  <input type="text" placeholder="Search..">
  <button type="button" onclick="searchUser()">Search</button>
</div>

<div class="container">
  <h1 class="mt-3 mb-3">User Accounts</h1>
<table class="table table-hover">
  <thead class="thead-dark"> 
  <tr>
      <th>User ID</th>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
    <tr *ngFor="let User of accountlist"> 
      <td>{{User.userID}}</td>
      <td>{{User.firstName}}</td>
      <td>{{User.lastName}}</td>
    </tr>
  </thead> 
</table>
</div>

<div class="User link">
  <button type="button" onclick="newUser()">New user</button>
  <button type="button" onclick="oldUsers()">Old users</button>
</div>

<script src="./useraccounts/useraccounts.component.ts"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>