<body>
<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<br /><br />
<div id="topbar" class="col-lg-12 card-margin">
  <br>
  <h2>
    Userlijst &nbsp;&nbsp;&nbsp;
    <button id="topbttn" class="btn btn-success" routerLink="/register">
    <fa-icon [icon]="faUserPlus"></fa-icon> &nbsp; User Toevoegen
    </button> &nbsp; 
    <button 
    id="archiveButton"
    *ngIf="getArchive()"
      class="btn btn-secondary "
    (click)="getArchive()"
    ><fa-icon [icon]="faBoxArchive"> </fa-icon>
    &nbsp; Archief
    </button> 
    <button 
    id="archiveButton2"
    *ngIf="getArchive()"
      class="btn btn-secondary"
    (click)="getArchive()"
    ><fa-icon [icon]="faUsers"></fa-icon>
    &nbsp; Users
    </button> 
  </h2>
  <input
    type="search"
    (ngModelChange)="searchUser(key.value)"
    #key="ngModel"
    ngModel
    name="key"
    id="searchName"
    class="form-control mr-sm-2"
    placeholder="User zoeken ..."
    required
  />

</div>

<div class="container" id="main-container">
  <div class="row" *ngIf="!archive">
    <div *ngFor="let user of activeUsers" class="col-md-6 col-xl-3">
      <div id="profielkaart" class="card m-b-30 mt-3 border-secondary" style="background-color: rgba(170, 195, 170, 0.85)">
        <div class="card-body row" style="height: 120px">
          <div class="col-6">
            <img
              src="{{ user?.photo }}"
              style="
                height: 100px;
                width: auto; /*maintain aspect ratio*/
                max-width: 120px;
                border-style: solid; border-width: 3px; border-color: gray;"
              alt=""
              class="img-fluid rounded-circle w-60"
            />
          </div>
          <div class="col-6 card-naam align-self-center mb-0 ">
            <a style="text-decoration: none" routerLink="/profielpagina/{{ user.id }}"
              ><h5 style="color: black;">{{ user.name }}</h5></a>
            <p class="m-0">{{ user.functie }}</p>
          </div>
        </div>
        <ul class="list-group list-group-flush border-0" style="height: 80px">
          <li id="emailbox" class="list-group-item">
            <i class="fa fa-envelope float-right"></i>{{ user.username }}
            <a href="#"></a>
          </li>
          <li *ngIf="user.phoneNumber" id="phonebox" class="list-group-item">
            <i class="fa fa-phone float-right"></i>Nummer:
            {{ user.phoneNumber }}
          </li>
        </ul>
        <div class="card-body" style="background-color: rgb(130,130,130)">
          <div class="float-right btn-group btn-group-sm">
            <a
              (click)="onOpenModal(user, 'edit')"
              class="btn btn-success tooltips"
              data-placement="top"
              data-toggle="tooltip"
              data-original-naam="Edit"
              ><i class="fa fa-pencil"></i>
            </a>
            <a
              (click)="onOpenModal(user, 'archive')"
              class="btn btn-danger tooltips"
              data-placement="top"
              data-toggle="tooltip"
              data-original-naam="Archive"
              ><i class="fa fa-archive"></i
            ></a>
          </div>
          <ul class="social-links list-inline mb-0">
            <style>
              #toHover {
                cursor: pointer;
              }
            </style>
            <li
              *ngIf="user.linkedinURL"
              id="toHover"
              (click)="openURLWindow(user.linkedinURL)"
              class="list-inline-item"
            >
              <a
                naam=""
                data-placement="top"
                data-toggle="tooltip"
                class="tooltips"
                data-original-naam="LinkedIn"
                ><i class="fa fa-linkedin"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="archive">
    <div *ngFor="let user of archivedUsers" class="col-md-6 col-xl-3">
      <div id="profielkaart" class="card m-b-30 mt-3 border-secondary" style="background-color: rgba(170, 195, 170, 0.85)">
        <div class="card-body row" style="height: 120px">
          <div class="col-6">
            <img
              src="{{ user?.photo }}"
              style="
                height: 100px;
                width: auto; /*maintain aspect ratio*/
                max-width: 120px;
                border-style: solid; border-width: 3px; border-color: gray;"
              alt=""
              class="img-fluid rounded-circle w-60"
            />
          </div>
          <div class="col-6 card-naam align-self-center mb-0 ">
            <a style="text-decoration: none" routerLink="/profielpagina/{{ user.id }}"
              ><h5 style="color: black;">{{ user.name }}</h5></a>
            <p class="m-0">{{ user.functie }}</p>
          </div>
        </div>
        <ul class="list-group list-group-flush border-0" style="height: 80px">
          <li id="emailbox" class="list-group-item">
            <i class="fa fa-envelope float-right"></i>{{ user.email }}
            <a href="#"></a>
          </li>
          <li *ngIf="user.phoneNumber" id="phonebox" class="list-group-item">
            <i class="fa fa-phone float-right"></i>Nummer:
            {{ user.phoneNumber }}
          </li>
        </ul>
        <div class="card-body" style="background-color: rgb(130,130,130)">
          <div class="float-right btn-group btn-group-sm">
            <a
              (click)="onOpenModal(user, 'userlijst')"
              class="btn btn-success tooltips"
              data-placement="top"
              data-toggle="tooltip"
              data-original-naam="Userlijst"
              ><i class="fa fa-users"></i>
            </a>
            <!-- <a
              (click)="onOpenModal(user, 'deleteData')"
              class="btn btn-danger tooltips"
              data-placement="top"
              data-toggle="tooltip"
              data-original-naam="DeleteData"
              ><i class="fa fa-trash"></i
            ></a> -->
          </div>
          <ul class="social-links list-inline mb-0">
            <style>
              #toHover {
                cursor: pointer;
              }
            </style>
            <li
              *ngIf="user.linkedinURL"
              id="toHover"
              (click)="openURLWindow(user.linkedinURL)"
              class="list-inline-item"
            >
              <a
                naam=""
                data-placement="top"
                data-toggle="tooltip"
                class="tooltips"
                data-original-naam="LinkedIn"
                ><i class="fa fa-linkedin"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

</body>

<!-- Edit User Modal -->
<div
  class="modal fade"
  id="editUserModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="editUserModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-naam" id="addUserModalLabel">
          Usergegevens {{ updateUser?.name }} Wijzigen
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
            <label for="name">Naam</label>
            <input
              type="text"
              ngModel="{{ updateUser?.name }}"
              name="name"
              class="form-control"
              id="name"
              placeholder="Naam"
              required
            />
          </div>
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              ngModel="{{ updateUser?.username }}"
              name="username"
              class="form-control"
              id="username"
              placeholder="User naam"
              required
              readonly
            />
          </div>

          <input
            type="hidden"
            ngModel="{{ updateUser?.id }}"
            name="id"
            class="form-control"
            id="id"
            placeholder="ISBN"
            readonly
          />
          <!-- <input type="hidden" ngModel="{{updateUser?.userID}}" name="userID" class="form-control" id="userID" > -->

          <div class="form-group">
            <label for="functie">Functie</label>
            <input
              type="text"
              ngModel="{{ updateUser?.functie }}"
              name="functie"
              class="form-control"
              id="functie"
              placeholder="Functie"
              required
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              ngModel="{{ updateUser?.password }}"
              name="password"
              class="form-control"
              id="password"
              placeholder="Password"
              required
              readonly
            />
          </div>
          <div class="form-group">
            <label for="email">E-mail adres</label>
            <input
              type="email"
              ngModel="{{ updateUser?.email }}"
              name="email"
              class="form-control"
              id="email"
              placeholder="E-mail adres"
              required
            />
          </div>
          <div class="form-group">
            <label for="phoneNumber">Telefoon nummer</label>
            <input
              type="text"
              ngModel="{{ updateUser?.phoneNumber }}"
              name="phoneNumber"
              class="form-control"
              id="phoneNumber"
              placeholder="Telefoon nummer"
              required
            />
          </div>
          <div class="form-group">
            <label for="photo">Profiel foto</label>
            <input
              type="text"
              ngModel="{{ updateUser?.photo }}"
              name="photo"
              class="form-control"
              id="photo"
              placeholder="Voer URL in"
            />
            <!-- <input type="text" ngModel="{{updateUser?.imageUrl}}" name="imageUrl" class="form-control" id="imageUrl" placeholder="Voer URL in" > -->
          </div>
          <div class="form-group">
            <label for="linkedinURL">LinkedIn pagina</label>
            <input
              type="text"
              ngModel="{{ updateUser?.linkedinURL }}"
              name="linkedinURL"
              class="form-control"
              id="linkedinURL"
              placeholder="Voer URL in"
            />
          </div>
          <div class="modal-footer">
            <button
              (click)="onUpdateUser(editForm.value)"
              data-dismiss="modal"
              class="btn btn-success"
            >
              Opslaan
            </button>
            <button
              type="button"
              id=""
              data-dismiss="modal"
              class="btn btn-secondary"
            >
              Sluiten
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete User Modal -->
<div
  class="modal fade"
  id="deleteUserModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="deleteUserModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-naam" id="deleteModelLabel">
          Delete {{ deleteUser?.name }}
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Weet je zeker dat je deze user wilt verwijderen?</p>
        <div class="modal-footer">
          <button
            (click)="onDeleteUser(deleteUser?.id!)"
            class="btn btn-danger"
            data-dismiss="modal"
          >
            Ja
          </button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Nee
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Archive User Modal -->
<div
  class="modal fade"
  id="archiveUserModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="archiveUserModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="archiveModelLabel">User archiveren</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Weet je zeker dat je de user {{ archiveUser?.name }} (id: {{ archiveUser?.id }}) wilt
          archiveren?
        </p>
        <div class="modal-footer">
          <button
          (click)="onArchivedUser(archiveUser!)"
          class="btn btn-danger"
          data-dismiss="modal"
        >
          Ja
        </button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Nee
          </button>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Userlijst User Modal -->
<div
  class="modal fade"
  id="userlijstUserModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="userlijstUserModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="userlijstUserModalLabel">User terugplaatsen naar userlijst</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Weet je zeker dat je de user met ID {{ userlijstUser?.id}} terug wilt
          verplaatsen naar de userlijst?
        </p>
        <div class="modal-footer">
          <button
          (click)="onUserlijstUser(userlijstUser!)"
          class="btn btn-danger"
          data-dismiss="modal"
        >
          Ja
        </button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Nee
          </button>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Delete Data User Modal -->
<div
  class="modal fade"
  id="deleteDataUserModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="deleteDataUserModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-naam" id="deleteDataModelLabel">
          Delete persoonlijke gegevens van {{ deleteUser?.name }}
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Weet je zeker dat je de persoonlijke gegevens van deze user wilt verwijderen?</p>
        <div class="modal-footer">
          <button
            (click)="onDeleteDataUser(deleteUser!)"
            class="btn btn-danger"
            data-dismiss="modal"
          >
            Ja
          </button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Nee
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Notification for no users -->
<div *ngIf="users?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">Geen users!</h4>
    <p>Er zijn geen users gevonden.</p>
  </div>
</div>

<!-- <div class="wt">
  <img src="./assets/images/wtachtergrond.svg">
</div> -->
