<body>
<br /><br />
<div class="container" id="main-container">
  <div id="topbar">
  <br>
  <h2>
    Boekenlijst &nbsp;&nbsp;&nbsp;<button
    id="AddBoekButton"
    style="color: black"
    id="topbttn"                                      
    *ngIf="isAdmin"                                    
      class="btn btn-success"
      (click)="createBoek()"
    ><fa-icon [icon]="faBookMedical"></fa-icon>
    &nbsp; Boek Toevoegen 
    </button>  &nbsp; 
    <button 
    id="archiveButton"
    *ngIf="isAdmin && getArchive()"
      class="btn btn-secondary "
     (click)="getArchive()"
    ><fa-icon [icon]="faBoxArchive"> </fa-icon>
    &nbsp; Archief
    </button> 
    <button 
    id="archiveButton2"
    *ngIf="isAdmin && getArchive()"
      class="btn btn-secondary"
     (click)="getArchive()"
    ><fa-icon [icon]="faBookOpenReader"></fa-icon>
    &nbsp; Bibliotheek
    </button> 
  </h2>
  <input
    type="search"
    (ngModelChange)="searchBoek(key.value)"
    #key="ngModel"
    ngModel
    name="key"
    id="searchName"
    class="form-control mr-sm-2"
    placeholder="Boek zoeken ..."
    required
    autocomplete="off"
  />
</div>

  <div class="row" id="main-row">
    <div class="col-lg-12">
      <div class="main-box clearfix">
        <div class="table-responsive">
          <table class="table user-list">
            <thead>
              <tr>
                <th><span>Titel</span></th>
                <th><span>ISBN</span></th>
                <th class="text-center"><span>Beschikbaarheid</span></th>
                <th><span>Categorie</span></th>
                <th><span>Acties</span></th>
              </tr>
            </thead>
            <tbody *ngFor="let boek of boeken; get" >
              <tr *ngIf="getArchive() && !archived(boek)" class="table-row">
                <td>
                  <img src="{{ boek?.thumbnailUrl }}" alt="" />
                  <a routerLink="/boek/{{ boek?.id }}" class="user-link" style="color: black; text-decoration: none">{{
                    boek?.title
                  }}</a>
                  <span class="user-subhead">{{ boek?.authors }}</span>
                </td>
                <td>
                  {{ boek?.isbn }}
                </td>
                <td class="text-center">
                  <h3>
                    <span class="label label-default"
                      >{{ boek?.available }}/{{ boek?.copies }}</span
                    >
                  </h3>
                </td>
                <td>
                  <a href="#" style="color: black; text-decoration: none">{{ boek?.categories }}</a>
                </td>
                <td style="width: 17%; background-color: rgb(130,130,130,255);">
                  <a *ngIf="isReserved(boek)">
                    <button
                      id="reserveerknop"
                      style="width: 175px"
                      class="btn btn-outline-success" disabled
                      >Gereserveerd
                      <span class="fa-stack">
                        <i class="fa fa-book fa -stack-1x"></i>
                      </span>
                    </button>
                    </a>
                  <a *ngIf="!isReserved(boek) && boek.available > 0" (click)="setReserved(boek)">
                  <button
                  id="reserveerButton"
                  style="width: 175px"
                    class="btn btn-success text-dark" 
                    >Reserveer

                  </button>
                  </a>
                  <a *ngIf="boek.available == 0 && !isReserved(boek)" >
                    <button
                    style="width: 175px"
                      class="btn btn-outline-secondary" disabled
                      >Niet beschikbaar
                      <span class="fa-stack">
                        <i class="fa fa-book fa -stack-1x"></i>
                      </span>
                    </button>
                    </a>
                  <a *ngIf="isAdmin" class="table-link" (click)="onOpenModal(boek, 'edit')">&nbsp;
                    <span class="fa-stack">
                      <i class="fa fa-square fa-stack-2x"></i>
                      <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                  <a
                  *ngIf="isAdmin"
                    class="table-link"
                    (click)="onOpenModal(boek, 'archive')"
                  >
                    <span class="fa-stack">
                      <i class="fa fa-square fa-stack-2x" style="color:lightslategrey"></i>
                      <i class="fa fa-archive fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                </td>
              </tr>
              <tr *ngIf="getArchive() && archived(boek)">
                <td>
                  <img src="{{ boek?.thumbnailUrl }}" alt="" />
                  <a href="/boek/{{ boek?.id }}" class="user-link">{{
                    boek?.title
                  }}</a>
                  <span class="user-subhead">{{ boek?.authors }}</span>
                </td>
                <td>
                  {{ boek?.isbn }}
                </td>
                <td class="text-center">
                  <h3>
                    <span class="label label-default"
                      >{{ boek?.available }}/{{ boek?.copies }}</span
                    >
                  </h3>
                </td>
                <td>
                  <a href="#">{{ boek?.categories }}</a>
                </td>
                <td style="width: 17%; background-color: rgb(130,130,130,255);">
                  <a *ngIf="isReserved(boek)">
                    <button
                    style="width: 175px"
                      class="btn btn-outline-success" disabled
                      >Gereserveerd
                      <span class="fa-stack">
                        <i class="fa fa-book fa -stack-1x"></i>
                      </span>
                    </button>
                    </a>
                  <a *ngIf="!isReserved(boek) && boek.available > 0" (click)="setReserved(boek)">
                  <button
                  id="reserveerButton"
                  style="width: 175px;"
                    class="btn btn-success text-dark"  
                    >Reserveer
                    <span class="fa-stack">
                      <i class="fa fa-book fa-stack-1x"></i>
                    </span>
                  </button>
                  </a>
                  
                  <a *ngIf="boek.available == 0 && !isReserved(boek)" >
                    <button
                    style="width: 175px"
                      class="btn btn-outline-secondary" disabled
                      >Niet beschikbaar
                      <span class="fa-stack">
                        <i class="fa fa-book fa -stack-1x"></i>
                      </span>
                    </button>
                    </a>
                  <a
                  *ngIf="isAdmin"
                    class="table-link"
                    (click)="onOpenModal(boek, 'bibliotheek')"
                  >
                    <span class="fa-stack">
                      <i class="fa fa-square fa-stack-2x" style="color:lightskyblue"></i>
                      <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                  <a *ngIf="isAdmin" class="table-link" (click)="onOpenModal(boek, 'delete')">
                    <span class="fa-stack">
                      <i class="fa fa-square fa-stack-2x" style="color:red"></i>
                      <i class="fa fa-trash fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>


    <!-- Add Boek Modal -->
    <div
      class="modal fade"
      id="addBoekModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="addBoekModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addBoekModalLabel">Add Boek</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="onAddBoek(addForm)">
              <div class="form-group">
                <label for="title">Titel</label>
                <input
                  type="text"
                  ngModel
                  name="title"
                  class="form-control"
                  id="title"
                  required
                />
              </div>
              <div class="form-group">
                <label for="authors">Auteurs</label>
                <input
                  type="text"
                  ngModel
                  name="authors"
                  class="form-control"
                  id="authors"
                  required
                />
              </div>
              <div class="form-group">
                <label for="isbn">ISBN</label>
                <input
                  type="text"
                  ngModel
                  name="isbn"
                  class="form-control"
                  id="isbn"
                  required
                />
              </div>
              <div class="form-group">
                <label for="categories">Categorieën</label>
                <input
                  type="text"
                  ngModel
                  name="categories"
                  class="form-control"
                  id="categories"
                  required
                />
              </div>
              <div class="form-group">
                <label for="authors">Exemplaren</label>
                <input
                  type="number"
                  ngModel
                  name="copies"
                  class="form-control"
                  id="copies"
                  required
                />
              </div>

              <div class="form-group">
                <label for="thumbnailUrl">thumbnail </label>
                <input
                  type="text"
                  ngModel
                  name="thumbnailUrl"
                  class="form-control"
                  id="thumbnailUrl"
                  placeholder="Voer URL in"
                />
              </div>
              <div class="modal-footer">
                <button
                [disabled]="addForm.invalid"
                type="submit"
                class="btn btn-success"
              >
                Boek Toevoegen
              </button>
                <button
                  type="button"
                  id="add-boek-form"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Sluiten
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Edit Boek Modal -->
    <div
      class="modal fade"
      id="editBoekModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="editBoekModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addBoekModalLabel">
              Boekgegevens {{ editBoek?.title }} Wijzigen
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form #editForm="ngForm">
              <div class="form-group">
                <label for="title">Titel</label>
                <input
                  type="text"
                  ngModel="{{ editBoek?.title }}"
                  name="title"
                  class="form-control"
                  id="title"
                  required
                />
              </div>
              <input
                type="hidden"
                ngModel="{{ editBoek?.id }}"
                name="id"
                class="form-control"
                id="id"
                placeholder="ISBN"
              />
              <input
                type="hidden"
                ngModel="{{ editBoek?.bookCode }}"
                name="bookCode"
                class="form-control"
                id="userCode"
              />
              <div class="form-group">
                <label for="authors">Auteurs</label>
                <input
                  type="text"
                  ngModel="{{ editBoek?.authors }}"
                  name="authors"
                  class="form-control"
                  id="authors"
                  required
                />
              </div>
              <div class="form-group">
                <label for="isbn">ISBN</label>
                <input
                  type="isbn"
                  ngModel="{{ editBoek?.isbn }}"
                  name="isbn"
                  class="form-control"
                  id="isbn"
                  required
                />
              </div>
              <div class="form-group">
                <label for="categories">Categorieën</label>
                <input
                  type="text"
                  ngModel="{{ editBoek?.categories }}"
                  name="categories"
                  class="form-control"
                  id="categories"
                  required
                />
              </div>
              <div class="form-group">
                <label for="authors">Beschikbaar</label>
                <input
                  type="number"
                  max="{{ editBoek?.copies }}"
                  ngModel="{{ editBoek?.available }}"
                  name="available"
                  class="form-control"
                  id="available"
                  required
                />
              </div>
              <div class="form-group">
                <label for="authors">Exemplaren</label>
                <input
                  type="number"
                  ngModel="{{ editBoek?.copies }}"
                  name="copies"
                  class="form-control"
                  id="copies"
                  required
                />
              </div>
              <div class="form-group">
                <label for="thumbnailUrl">thumbnail</label>
                <input
                  type="text"
                  ngModel="{{ editBoek?.thumbnailUrl }}"
                  name="thumbnailUrl"
                  class="form-control"
                  id="thumbnailUrl"
                  placeholder="Voer URL in"
                />
              </div>
              <div class="modal-footer">
                <button
                onclick="$('#confirmationModal').modal('toggle')"
                class="btn btn-success"
              >
                Opslaan
              </button>
                <button
                  type="button"
                  id=""
                  data-dismiss="modal"
                  class="btn btn-secondary"
                >
                  Sluiten
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Confirmation Modal -->
  <div
    class="modal fade"
    id="confirmationModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="confirmationModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModelLabel">Weet je het zeker?</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Weet je zeker dat je de gegevens wilt opslaan?</p>
          <div class="modal-footer">
            <button
            (click)="onUpdateBoek(editForm.value)"
            onclick="$('#editBoekModal').modal('hide');"
            class="btn btn-danger"
            data-dismiss="modal"
          >
            Ja
          </button>
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Nee
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

<!-- Archive Boek Modal -->
<div
  class="modal fade"
  id="archiveBoekModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="archiveBoekModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="archiveModelLabel">Boek archiveren</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Weet je zeker dat je het boek {{ archivedBoek?.title }} wilt
          archiveren?
        </p>
        <div class="modal-footer">
          <button
          (click)="onArchivedBoek(archivedBoek!)"
          class="btn btn-danger"
          data-dismiss="modal"
        >
          Ja
        </button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Nee
          </button>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Library Boek Modal -->
<div
  class="modal fade"
  id="libraryBoekModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="libraryBoekModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="libraryModelLabel">Boek terugplaatsen naar bibliotheek</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Weet je zeker dat je het boek {{ bibliotheekBoek?.title }} terug wilt
          verplaatsen naar de bibliotheek?
        </p>
        <div class="modal-footer">
          <button
          (click)="onBibliotheekBoek(bibliotheekBoek!)"
          class="btn btn-danger"
          data-dismiss="modal"
        >
          Ja
        </button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Nee
          </button>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Delete Boek Modal -->
<div
  class="modal fade"
  id="deleteBoekModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="deleteBoekModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModelLabel">Boek verwijderen</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Weet je zeker dat je het boek {{ deleteBoek?.title }} wilt
          verwijderen?
        </p>
        <div class="modal-footer">
          <button
          (click)="onDeleteBoek(deleteBoek!)"
          class="btn btn-danger"
          data-dismiss="modal"
        >
          Ja
        </button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Nee
          </button>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Notification for no books -->
<div *ngIf="boeken?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">Geen boeken!</h4>
    <p>Er zijn geen boeken gevonden.</p>
  </div>
</div>

    <!-- POP UP 1: WEET JE HET ZEKER-->
    <div>
      <div class="modal fade" id="deleteeBoekModal" tabindex="-1" role="dialog" aria-labelledby="deleteBoekModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModelLabel">Boek Reserveren</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Weet je zeker dat je het boek '<b>{{editBoek?.title}}</b>' wilt reserveren?</p>
              <div class="modal-footer">
                <button (click)="onOpenModal2()" (click)="setReserved(editBoek!)" class="btn btn-success" data-dismiss="modal">Ja</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Nee</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <p>Weet je zeker dat je het boek</p>
          <p></p>
          <p>
            <b>{{ editBoek?.title }}</b>
          </p>
          <p>wilt reserveren?</p>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Nee
            </button>
            <button
              (click)="onOpenModal2()"
              (click)="setReserved(editBoek!)"
              class="btn btn-success"
              data-dismiss="modal"
            >
              Ja
            </button>
          </div>
        </div>
      </div>
    </div>
<!-- POP UP 2: BEVESTIGING -->
<div>
  <div
    class="modal fade"
    id="okkBoekModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="deleteBoekModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModelLabel">Boek Reserveren</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Uw reservering is succesvol!</p>
          <div class="modal-footer">
            <button class="btn btn-success" data-dismiss="modal">Ok</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
