.img1 {
    width: 150px;
    margin-left: 2%;
    margin-right: 5%;
    margin-top: 3%;
}

.tekstEnFoto {
    display: flex;
    left: 0;
    color: black;
    
}

body {
    border-width: 5px;
    border-radius: 25px
    
}

.over {
    margin-bottom: 25px;
    color: black;
}

.categorie {
    margin-bottom: 20px;
}

.metaInformatie {
    margin-left: 2%;
    color: black;
    width: 75%;
}

.knop {
    display: flex;
    justify-content: center;
    
}

.tekst {
    margin-top: 2%;
    margin-right: 2%;
}

.btn btn-success {
    width: 100px;
}

.beschrijving_header {
    color: black;
}

.beschrijving {
    color: black;
}

.titel {
    color: black;
}

.wt {   
    opacity: 0.4;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
  
}



.trgt {
    opacity: 0.5;
}



/* <img src="./assets/images/wtlogo.svg" class="img1"> */