<body>
    <div class="tekstEnFoto">
        <img src="../../assets/images/harry.jpg" class="img1">
        <div class="tekst">
            <h1>Harry Potter and the Goblet of Fire</h1>
            <h4>Beschrijving</h4>
            <p>
                Harry Potter en de Vuurbeker (oorspronkelijke titel: Harry Potter and the Goblet of Fire) is de vierde
                Harry-Potterfilm, gebaseerd op het gelijknamige boek van de Britse schrijfster J.K. Rowling. De film
                ging in première op 18 november 2005.
                Mike Newell regisseerde de film en Steve Kloves schreef het script. De themamuziek van John Williams
                werd opnieuw gebruikt en aangevuld met muziek van Patrick Doyle.
                De film was genomineerd voor een Academy Award, namelijk die voor de beste artdirection, maar won deze
                uiteindelijk niet.
            </p>
        </div>
    </div>
    <div class="metaInformatie">
        <br><br>
        <h4 class="over">Over dit boek</h4>

        <h6>Categorie(ën):</h6>
        <p class="categorie">Fantasy, Avontuur</p>

        <h6>Beschikbaarheid:</h6>
        <p> Beschikbaar</p>
    </div>
    <div class="knop">
        <!-- (click)=handleReservering()    moet nog gedefinieerd worden en in regel hieronder worden toegepast    -->
        <button class="btn btn-success">Reserveer</button>
    </div>
    <br><br>
</body>