.img1 {
    width: 150px;
    margin-left: 2%;
    margin-right: 5%;
    margin-top: 3%;
}
.container{
    
}

.tekstEnFoto {
    display: flex;
    left: 0;
    color: black;
    
}

body {
    background-color: white;
    border-style: solid;
    border-color:white;
    border-width: 5px;
    border-radius: 80px
}

.over {
    margin-bottom: 25px;
    color: black;
}

.categorie {
    margin-bottom: 20px;
}

.metaInformatie {
    margin-left: 2%;
    color: black;
    width: 75%;
}

.knop {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    height: 0;
    
}

.tekst {
    margin-top: 2%;
    margin-right: 2%;
}

.btn btn-success {
    width: 100px;
}

.beschrijving_header {
    color: black;
}

.beschrijving {
    color: black;
}

.titel {
    color: black;
}