<h1>Categorieën</h1>
<div id="searchbar">
    <form>
        <div class="input-group"><input type="text" class="form-control" name="catInfo"><button class="btn btn-light">Zoeken</button></div>
    </form>
</div>
<div id="mainCom">
    <table class="table" id="myTable">
        <tr>
            <th>Categorie titel</th>
            <th>Informatie</th>
          </tr>
          <tr id="1">
            <td><textarea [(ngModel)]="catName1" (keydown.enter)="myFunction()" style="width: 100%; resize: none; border: none;"></textarea></td>
            <td><textarea style="width: 100%; resize: none; border: none;" (keydown.enter)="myFunction()">Informatie 1</textarea></td>
            <td><button class="btn btn-light" style="display: block; margin: auto;"  (click)="delCat(1)">Verwijder</button></td>
          </tr>
          <tr id="2">
            <td><textarea style="width: 100%; resize: none; border: none;" (keydown.enter)="myFunction()">Communicatie</textarea></td>
            <td><textarea style="width: 100%; resize: none; border: none;" (keydown.enter)="myFunction()">Info over communicatie</textarea></td>
            <td><button class="btn btn-light btn-centered" style="display: block; margin: auto;" (click)="delCat(2)">Verwijder</button></td>
          </tr>
    </table>
    <button class="btn btn-light" (click)="addCat()">Toevoegen</button>

    <div class="popup" (click)="myFunction()">
        <span class="popuptext" id="myPopup" style="display: none; position:absolute;">A Simple Popup!</span>
      </div>
</div>