<h1>Categorieën</h1>
<div id="searchbar">
    <form>
        <div class="input-group"><input type="text" class="form-control" name="catInfo"><button class="btn btn-light">Zoeken</button></div>
    </form>
</div>
<div id="mainCom">
    <table class="table" id="myTable">
        <tr>
            <th>Categorie titel</th>
            <th>Informatie</th>
        </tr>
        <tr *ngFor="let category of categories" id={{category.id}}>
            <!-- <form #editForm="ngForm" (ngSubmit)="updateCategory(category)"> -->
                <td><textarea style="width: 100%; resize: none; border: none;" (keydown.enter)="popUp()" id="nameList">{{category.cat_name}}</textarea></td> <!--(keydown.enter)="updateCategory(editForm.value)" ngModel="{{editForm}}" -->
                <td><textarea style="width: 100%; resize: none; border: none;" (keydown.enter)="popUp()">{{category.cat_desc}}</textarea></td>
                <td><button class="btn btn-light btn-centered" style="display: block; margin: auto;" (click)="deleteCategory(category.id)">Verwijder</button></td>
            <!-- </form> -->
        </tr>
    </table>
    <button class="btn btn-light" (click)="addCategory()">Toevoegen</button>

    <div class="popup" (click)="popUp()">
        <span class="popuptext" id="myPopup" style="display: none; position:fixed;">A Simple Popup!</span>
    </div>    
</div>